@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vending Machine</h1>
    <p class="lead">Go to page below to order</p>
    <p>@Html.ActionLink("Order", "Index", "Beverage")</p>
</div>
